<div class="pageLayoutprojects">
  <div class="left">
    <ul>
      <li><a> WORK </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>

<!--HEADER-->
<nav class="projectheader">
  <!--left...icon-->
  <div class="header-icon"> </div>
  <!--middle-->
  <div class="title" id="title"> <a href="/">NELLIE OLSSON WENNBERG</a> </div>
  <!--right (hamburger, account, osv.)-->
  <div class="headerright_other">
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
  <ul class="nav-menu">
    <div class="title" id="title"> <a href="/">NELLIE OLSSON WENNBERG</a> </div>

    <li class="nav-item"><a href="/projects" class="nav-link">work</a></li>
    <li class="nav-item2"><a href="/about" class="nav-link">about</a></li>
    <li class="nav-item2"><a href="/contact" class="nav-link">contact</a></li>
   
  
  </ul>
</nav>
<!---->


<div class="projectpage">
  
  <!--Source: https://www.youtube.com/watch?v=KG8Pt1iskts, 2023-->
  <!--How to create the filter "function" -->
 <div class="filter">
  <!--
    <a>FILTER</a>
    <span></span>
    <div class="categories">
    <p class="option" {{#if (eq ../selectedCid null)}} selected="selected"{{/if}} data-cid="">Show all</p>
  {{#each categories}}
    <p class="option" {{#if (eq ../selectedCid this.cid)}} selected="selected"{{/if}} data-cid="{{this.cid}}">{{this.ctitle}}</p>
  {{/each}}
    </div>  -->
     <div class="schools">
         <a><button
          type="button"
          class="btn-selected"
          onclick="projects1()"
        >Graphic Design</button></a>
         <a href="/projectsarkviz"><button
        type="button"
        class="btn"
        onclick="projects2()"
      >Archviz</button></a>
    </div>  

    {{#if session.isAdmin}}
    <div class="addproject">
  <a class="plus" href="/project-new">+</a>
<a class="add" href="/project-new">Add New Project</a>
    </div>
  {{/if}}
  </div>
   <div class="projectTop">
    <h2>Alla Projekt</h2>
  </div>
    
    
    {{#each projects}}

  <div class="project">
    <div class="project-text">
        <ul>
          <li class="titletext">
            <a href="/project/{{pid}}">{{this.ptitle}}</a>
          </li>
          <li class="runningtext">
            {{this.categories}}
          </li>
          <li class="datetext">
            {{this.pdate}}
          </li>
{{#if ../session.isAdmin}}
      <div class="editproject">
        <div><a href="/project/modify/{{pid}}" class="modify">modify</a>
        </div>
        <div><a href="/project/delete/{{pid}}" class="delete">delete</a>
        </div>
      </div>
{{/if}}
        </ul>
    </div>
    <div class="project-img">
        <a href="/project/{{pid}}">
          <img src="{{this.pimgURL}}" alt="{{pimgURL}}" class="smallimage" />
        </a>
    </div>
  </div>
  
  {{/each}}

  <div class="pagination">
  {{#if (eq page 1)}}
        <a href="./projects?page= {{nextPage}}"> Next </a>
  {{else}}
          <a href="./projects?page= {{previousPage}}"> Back </a>

  {{#if hasNextPage}}
            <a href="./projects?page= {{nextPage}}"> Next </a>
{{/if}}

{{/if}}
  </div>
</div>
