<div class="pageLayoutprojects">
  <div class="left">
    <ul>
      <li><a> {{project.ptitle}} </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>

<!--HEADER-->
<nav class="projectheader">
  <!--left...icon-->
  <div class="header-icon"> </div>
  <!--middle-->
  <div class="title" id="title"> <a href="/">NELLIE OLSSON WENNBERG</a> </div>
  <!--right (hamburger, account, osv.)-->
  <div class="headerright_other">
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
  <ul class="nav-menu">
    <div class="title" id="title"> <a href="/">NELLIE OLSSON WENNBERG</a> </div>

    <li class="nav-item"><a href="/projects" class="nav-link">work</a></li>
    <li class="nav-item2"><a href="/about" class="nav-link">about</a></li>
    <li class="nav-item2"><a href="/contact" class="nav-link">contact</a></li>

  </ul>
</nav>
<!---->

<div id="principal">
  <li class="backbtn">
    <a href="/projects">back</a>
  </li>

  <h1 class="projecttitle">{{project.ptitle}}</h1>
  <div class="projectcard">

    {{#if (eq project.pid 1)}}
      <div class="proj4">
        <div class="text">
          <p>GONA [-snuggle] is a café that is to be opened in Jönköping.
            <br />Here is my proposal for branding and concept for this café.</p>
        </div>
        <h2>Moodboard</h2>
        <div class="text">
          <p>Cozy,</p>
          <p>Inspiring,</p>
          <p>Simple.</p>
        </div>
        <picture>
          <source
            media="(max-width: 450px)"
            srcset="/img/moodboard_gona-02_mobile.png"
          />
          <img
            src="{{project.images}}"
            alt="{{project.images}}"
            class="bigimage_moodboard"
          />
        </picture>

        <img
          src="{{project.images2}}"
          alt="{{project.images2}}"
          class="bigimage"
        />
        <h2>Ad Posters</h2>

        <img
          src="{{project.images3}}"
          alt="{{project.images3}}"
          class="bigimage"
        />
        <img src="/img/posters-04.png" alt="posters" class="bigimage" />
        <h2>In Store</h2>
        <div class="store">
          <img
            src="/img/store_moodboard-02.png"
            alt="posters"
            class="bigimage"
          />
        </div>
        <h2>On Instagram</h2>
        <img src="/img/instafeed.png" alt="posters" class="bigimageinsta" />
      </div>
    {{else if (eq project.pid 2)}}
      <div class="proj2">
        <h2>Commercial Video</h2>
        <h3>COMING SOON</h3>
        <!--
        <video controls class="bigvideo">
          <source src="{{project.video}}" type="video/mp4" />
        </video>
      </div>

      <div class="motion_content">
        <h2>Concept Development</h2>
        <h3>Message:</h3>
        <p>...
        </p>
        <h3>Story:</h3>
        <p>...</p>
        <h3>Target Audience:</h3>
        <p>...</p>
        <h3>Visual Style:</h3>
        <p>...</p>
        <h3>Tone:</h3>
        <p>...</p>
        <br />
        <br />
        <h2>Content Creation</h2>
        <br />
        <br />
        <img src="" alt="" class="" />
        <br />
        <br />
        <h2>Storyboard</h2>
        <img src="" alt="" class="" />
-->
      </div>
    {{else if (eq project.pid 3)}}
      <div class="proj2">
        <h2>Commercial Video</h2>

        <video controls class="bigvideo">
          <source src="{{project.video}}" type="video/mp4" />
        </video>
      </div>

      <div class="motion_content">
        <h2>Concept Development</h2>
        <h3>Message:</h3>
        <p>Ahlgrens bilar bring a burst of fun, flavor, and playfulness to every
          moment.
        </p>
        <h3>Story:</h3>
        <p>
          Ahlgrens bilar come alive, turning an ordinary day into a high-speed
          adventure full of flavor and excitement. The animated candy cars
          embody energy and joy, inspiring everyone to embrace the fun and share
          the sweetness.</p>
        <h3>Target Audience:</h3>
        <p>
          Families, children, and young adults seeking a playful, energetic
          candy experience that brings people together.
        </p>
        <h3>Visual Style:</h3>
        <p>
          Vivid, dynamic, and lively. The animation should feature smooth,
          flowing motion with bright colors and special details, reinforcing the
          fun and imaginative world of Ahlgrens bilar.
        </p>
        <h3>Tone:</h3>
        <p>
          Playful, energetic, and inclusive. The tone invites viewers to join
          the candy car adventure and emphasizes the joy of sharing moments and
          flavors with others.
        </p>
        <br />
        <br />
        <h2>Content Creation</h2>
        <br />
        <br />
        <img
          src="{{project.images2}}"
          alt="{{project.images2}}"
          class="bigimage"
        />
        <br />
        <br />
        <h2>Storyboard</h2>
        <img
          src="{{project.images}}"
          alt="{{project.images}}"
          class="bigimage"
        />

      </div>
    {{else if (eq project.pid 4)}}
      <div class="proj2">
        <h2>Outbound Campaign</h2>

        <div class="oatly_content">
          <h1>Oatly iKaffe - Decades Edition</h1>
          <p>Nostalgia-driven limited-edition campaign that increases
            engagement, collector value and brand love.</p>
          <img src="/img/oaty_decades_02.png" alt="oatly" class="oatlyimgs" />
          <img src="/img/oaty_decades_01.png" alt="oatly" class="oatlyimgs" />
          <br />
          <h3> Concept description</h3>
          <p>We developed a nostalgia-driven campaign where Oatly launches a
            collector's series: Oatly iKaffe - Decades Edition. Each pack
            represents an iconic decade, 70s, 80s, 90s, 00s, and plays on retro
            trends that are already dominating TikTok and Instagram.</p>
          <br />
          <p>Nostalgia + limited edition + Oatly's humor = increased engagement
            and sales.</p>

          <h2>Ads</h2>
          <div class="mobile-images">
            <img src="/img/70.png" alt="" />
            <img src="/img/80s.png" alt="" />
            <img src="/img/90.png" alt="" />
            <img src="/img/00.png" alt="" />
          </div>

          <!-- Desktopbild -->
          <img src="/img/oatly.png" alt="oatlyad" class="desktop-image" />

          <br />
          <p>The main goal of the campaign is to increase sales of Oatly iKaffe
            “Decades Edition” by 10% and reach 5,000 units sold. Since the
            campaign is to drive purchases and reach both new and existing
            customers, active outbound communication is required in channels
            where the target group 20 - 35 years old is already in their daily
            routines.</p>

          <br />
          <p>This is motivated by:</p>
          <li><a>Target group: young adults who live digitally and move around
              in urban environments</a></li>
          <li><a>KPIs that are linked to real-world behaviors</a></li>
          <li><a>Budget: 10,000:-, which requires effective reach</a></li>
          <li><a>The campaign will run continuously for two months for maximum
              “top of mind” effect</a></li>

          <h1>
            Outbound channels in the campaign
          </h1>
          <h3>Digital Outbound</h3>
          <p>Direct advertisements targeted to the target audience through:</p>
          <li> <a>Instagram Reels och Feed Ads</a></li>
          <li><a>TikTok In-Feed Ads</a></li>
          <li><a>Youtube Ads</a> </li>
          <br />
          <p>These are outbound because they are actively pushed out to users in
            the feed, regardless of whether they follow Oatly or not.</p>
          <h3>Out-of-Home Outbound, OOH</h3>
          <li><a>Posters in city centers</a></li>
          <li> <a>Bus stops</a></li>
          <li> <a>Subway stations</a></li>
          <br />
          <h1>How outbound drives KPIs</h1>
          <p>Outbound advertising:</p>
          <li>
            <a>Drives immediate attention, especially when the target audience
              is scrolling quickly - the text describes Oatly's strategy:
              visually strong + humor.</a></li>
          <li><a>Pushes the campaign offer to both loyal users and new
              first-time buyers - secondary KPI.</a></li>
          <li><a>
              90 Supports sales target through broad reach in a short timeframe
              - 2 months.</a></li>
          <li><a>Maximizes the chances of reaching the goal: 10% sales increase
              and 5000 units sold.</a></li>
        </div>
      </div>
    {{else if (eq project.pid 5)}}
      <div class="project3">
        <h2>Poster</h2>

        <div class="images">
          <div class="mobile-img">
            <img src="/img/björnborg_mobile.png" alt="" />
          </div>
          <img
            src="{{project.images}}"
            alt="{{project.images}}"
            class="bigimage"
          />
          <br />
          <img
            src="{{project.images2}}"
            alt="{{project.images2}}"
            class="bigimage"
          />

          <p>Images are AI created on Firefly, adjustments in photoshop, text
            added in Indesign.
          </p>
          <br />
        </div>
      </div>
      <div class="postertext">
        <h3>“Rule the Court. Own the Day.”
        </h3>
        <h4>Björn Borg didn’t just win titles—he redefined what it means to be a
          champion. With an unparalleled focus and an unshakable drive, he
          brought style, grit, and grace to the game of tennis, leaving a legacy
          that inspires to this day.
          <br />
          <br />

          Today, the Björn Borg brand carries forward his fearless spirit,
          blending performance, innovation, and bold design to empower those who
          refuse to settle. It’s not just about winning—it’s about showing up,
          standing tall, and embracing every challenge with confidence.
        </h4>

        <h3>Dare to move. Dare to dream. Dare to be Björn.</h3>
      </div>
      <div class="posterde">
        <h2>Design Choices</h2>
        <div class="gridcontainer">
          <img src="/img/icon.png" />
          <p>
            Letters designed to resemble tennis balls, reinforcing the company's
            strong connection to the sport in which Björn Borg himself achieved
            greatness.</p>

          <img src="/img/icon.png" />
          <p>
            Along the widest stripe of the tennis court, a pattern recreates the
            iconic headband that Björn Borg wore during his matches.
          </p>

          <img src="/img/icon.png" />
          <p>
            A color scheme in shades of red and white, reflecting the company’s
            branding, with a hint of yellow from the tennis balls to further
            strengthen the connection to the court.
          </p>
        </div>
      </div>

    {{else if (eq project.pid 6)}}
      <div class="proj9title">
        <h2>Website</h2></div>

      <div class="proj9">
        <p> Before <br /> click for prototype </p>
        <p> After <br /> click for prototype </p>
      </div>
      <div class="proj9">
        <a
          href="https://www.figma.com/proto/zKaPOq5ORxRdQENXFXiry0/SushiYaki?node-id=3-30&node-type=frame&t=X9SXXuA1V8NKeOH7-1&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=3%3A30"
        ><img
            src="{{project.images}}"
            alt="{{project.images}}"
            class="bigimage"
          />
        </a>

        <a
          href="https://www.figma.com/proto/zKaPOq5ORxRdQENXFXiry0/SushiYaki?node-id=19-185&node-type=frame&t=TFstkWAjGyJoRrZK-1&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=3%3A30"
        >
          <img
            src="{{project.images2}}"
            alt="{{project.images2}}"
            class="bigimage"
          />
        </a>
      </div>
      <br />
      <div class="proj9_2">
        <img
          src="{{project.images3}}"
          alt="{{project.images3}}"
          class="bigimage"
        />
        <img src="{{project.video}}" alt="{{project.video}}" class="bigimage" />
      </div>
    {{else if (eq project.pid 7)}}
      <h2>P5.JS Game</h2>

      <p class="clickplay">Click to try out the game.<br />
        Compatible on computers only</p>
      <div class="proj3">
        <div class="startgame">
          <a
            href="https://ju-nmd2023.github.io/fop-final-project-group-53/"
            target="_blank"
          >
            <img
              src="{{project.images}}"
              alt="{{project.images}}"
              class="bigimage"
            />
          </a>
        </div>
        <p>Cloudy with a chance of meatballs is a game that I created in P5.js
          Canvas
          <br />
          Here are the illustrations I made for the rolling logs and characters'
          sprite animations:
        </p>
        <div class="sprites">
          <img
            src="{{project.images2}}"
            alt="{{project.images2}}"
            class="spritesimg"
          />
        </div>
      </div>
    {{else if (eq project.pid 8)}}
      <div class="proj6">
        <img
          src="{{project.images}}"
          alt="{{project.images}}"
          class="bigimage"
        />
        <img src="{{project.video}}" alt="GIF-beskrivning" class="bigvideo" />

        <img
          src="{{project.images2}}"
          alt="{{project.images2}}"
          class="bigimage"
        />
      </div>
    {{else}}

      <div class="images">
        <img
          src="{{project.images}}"
          alt="{{project.images}}"
          class="bigimage"
        />
        <br />
        <img
          src="{{project.images2}}"
          alt="{{project.images2}}"
          class="bigimage"
        />
        <br />
        <img
          src="{{project.images3}}"
          alt="{{project.images3}}"
          class="bigimage"
        />
      </div>
    {{/if}}

    <br />
    <p>{{project.pdesc}}</p>
    <br />
    <div class="projdate">
      {{project.pdate}}
    </div>
  </div>
</div>