<div class="pageLayout">
  <div class="left">
    <ul>
      <li><a> {{project.ptitle}} </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>

<div id="principal">
  <li class="backbtn">
    <a href="/projects">back</a>
  </li>

  <h1 class="projecttitle">{{project.ptitle}}</h1>
  <div class="projectcard">
    <div class="projinfo">
    </div>
    {{#if (eq project.pid 2)}}
      <div class="proj2">
        <video controls class="bigvideo">
          <source src="{{project.video}}" type="video/mp4" />
        </video>
      </div>
      <div class="proj2images">
        <img
          src="{{project.images}}"
          alt="{{project.images}}"
          class="bigimage"
        />
        <br />
        <img
          src="{{project.images2}}"
          alt="{{project.images2}}"
          class="bigimage"
        />
      </div>
    {{else if (eq project.pid 3)}}
      <p class="clickplay">Click to try out the game.<br />
        Compatible on computers only</p>
      <div class="proj3">
        <div class="startgame">
          <a
            href="https://ju-nmd2023.github.io/fop-final-project-group-53/"
            target="_blank"
          >
            <img
              src="{{project.images}}"
              alt="{{project.images}}"
              class="bigimage"
            />
          </a>
        </div>
        <p>Cloudy with a chance of meatballs is a game that I created in P5.js
          Canvas
          <br />
          Here are the illustrations I made for the rolling logs and characters'
          sprite animations:
        </p>
        <div class="sprites">
          <img
            src="{{project.images2}}"
            alt="{{project.images2}}"
            class="spritesimg"
          />
        </div>
      </div>
    {{else if (eq project.pid 4)}}
      <div class="proj4">
        <img
          src="{{project.images}}"
          alt="{{project.images}}"
          class="bigimage"
        />
        <img
          src="{{project.images2}}"
          alt="{{project.images2}}"
          class="bigimage"
        />
        <img
          src="{{project.images3}}"
          alt="{{project.images3}}"
          class="bigimage"
        />
      </div>
    {{else}}
      <div class="images">
        <img
          src="{{project.images}}"
          alt="{{project.images}}"
          class="bigimage"
        />
        <br />
        <img
          src="{{project.images2}}"
          alt="{{project.images2}}"
          class="bigimage"
        />
        <br />
        <img
          src="{{project.images3}}"
          alt="{{project.images3}}"
          class="bigimage"
        />
      </div>
    {{/if}}

    <br />
    <p>{{project.pdesc}}</p>
    <br />
    <div class="projdate">
      {{project.pdate}}
    </div>
  </div>
</div>