<div class="pageLayout">
  <div class="left">
    <ul>
      <li><a> {{project.ptitle}} </a></li>
    </ul>
  </div>
  <div></div>
  <div class="right"></div>
</div>

<div id="principal">
  <li class="backbtn">
    <a href="/projects">back</a>
  </li>

  <h1 class="projecttitle">{{project.ptitle}}</h1>
  <div class="projectcard">
    <div class="projinfo">
    </div>
    {{#if (eq project.pid 2)}}
      <div class="proj2">
        <video controls class="bigvideo">
          <source src="{{project.video}}" type="video/mp4" />
        </video>
      </div>
      <div class="proj2images">
        <img
          src="{{project.images}}"
          alt="{{project.images}}"
          class="bigimage"
        />
        <br />
        <img
          src="{{project.images2}}"
          alt="{{project.images2}}"
          class="bigimage"
        />
      </div>
    {{else if (eq project.pid 3)}}
      <p class="clickplay">Click to try out the game.</p>
      <div class="proj3">
        <div class="startgame">
          <a
            href="https://ju-nmd2023.github.io/fop-final-project-group-53/"
            target="_blank"
          >
            <img
              src="{{project.images}}"
              alt="{{project.images}}"
              class="bigimage"
            />
          </a>
        </div>
        <p>Cloudy with a chance of meatballs is a game that I created in P5.js
          Canvas
          <br />
          Here are the illustrations I made for the rolling logs and characters'
          sprite animations:
        </p>
        <div class="sprites">
          <img
            src="{{project.images2}}"
            alt="{{project.images2}}"
            class="spritesimg"
          />
        </div>
      </div>
    {{else if (eq project.pid 4)}}
      <div class="proj4">
        <img
          src="{{project.images}}"
          alt="{{project.images}}"
          class="bigimage"
        />
      </div>
    {{else}}
      <!--
      <div class="divimage">
        <img
          src="{{project.pimgURL}}"
          alt="{{project.pimgURL}}"
          class="bigimage"
        />
      </div>
      <br />-->
      <div class="images">
        <img
          src="{{project.images}}"
          alt="{{project.images}}"
          class="bigimage"
        />
        <br />
        <img
          src="{{project.images2}}"
          alt="{{project.images2}}"
          class="bigimage"
        />
        <br />
        <img
          src="{{project.images3}}"
          alt="{{project.images3}}"
          class="bigimage"
        />
      </div>
    {{/if}}

    <!--
    <div class="project-images">
      {{#each project.images}}
        <img src="{{this}}" alt="Project Image" class="project-image" />
      {{/each}}
    </div>-->

    <!-- Modify Project Section -->
    <!--
    <button class="modifyproject" onclick="toggleModifyForm()">Modify Project</button>
    <form id="modifyproject-form" action="/project/modify/{{project.pid}}" method="POST" style="display:none;">
      <label for="projtitle">Title:</label>
      <input type="text" id="projtitle" name="projtitle" value="{{project.ptitle}}" required /><br />

      <label for="projdate">Date:</label>
      <input type="number" id="projdate" name="projdate" min="2019" max="2026" value="{{project.pdate}}" required /><br />

      <label for="projdesc">Description:</label>
      <textarea id="projdesc" name="projdesc" required>{{project.pdesc}}</textarea><br />

      <label for="projcid">Categorie:</label>
      <select name="projcid" id="projcid" required>
        <option value="1" {{#if (eq project.cid "1")}}selected{{/if}}>Branding</option>
        <option value="2" {{#if (eq project.cid "2")}}selected{{/if}}>Illustration</option>
        <option value="3" {{#if (eq project.cid "3")}}selected{{/if}}>Programming</option>
        <option value="4" {{#if (eq project.cid "4")}}selected{{/if}}>Print ads</option>
        <option value="5" {{#if (eq project.cid "5")}}selected{{/if}}>Posters</option>
      </select><br />-->

    <!-- Bild-URL-fält för varje befintlig bild -->
    <!--<label for="projurl">Add Images:</label>
      <div id="image-urls">
        {{#each project.images}}
          <input type="text" name="projurl[]" value="{{this}}" placeholder="/img/something.png" />
        {{/each}}
        <input type="text" name="projurl[]" placeholder="/img/newimage.png" />
      </div>
      <button type="button" onclick="addImageField()">Add More Images</button><br />

      <input type="submit" value="Save Changes" />
    </form>-->

    <br />
    <p>{{project.pdesc}}</p>
    <br />
    <div class="projdate">
      {{project.pdate}}
    </div>
  </div>
</div>
<!--
<script>
  // Visa och dölj redigeringsformuläret function toggleModifyForm() { const
  form = document.getElementById("modifyproject-form"); form.style.display =
  form.style.display === "none" ? "block" : "none"; } // Lägg till fler
  inmatningsfält för bilder function addImageField() { const div =
  document.getElementById("image-urls"); const input =
  document.createElement("input"); input.type = "text"; input.name =
  "projurl[]"; input.placeholder = "/img/newimage.png"; div.appendChild(input);
  }
</script>-->